extends ../layouts/common

block content
    .container
        .row.mt-5
            .col-sm-9
                h3.text-center List Transactions
                if error    
                    .alert.alert-danger= error
                table.table.mt-5
                    tr
                        th User_Id
                        th Book_Id
                        th Status
                    each transaction in transactions
                        tr
                            td= transaction.userName
                            td= transaction.bookTitle
                            if(transaction.isComplete)
                                td Done
                            else
                                td
                                    a(href="/transactions/" + transaction.id + "/complete") Complete
                            
            .col-sm-3  
                h3 Add new transaction              
                form.form-group.mt-5(method="POST")
                    .form-group
                        label(for='user') Choose User
                        select#user.form-control(name="userRecieve")
                            each user in userData
                                option=user.name

                        label(for='book') Choose Book
                        select#book.form-control(name="bookRecieve")
                                each book in bookData
                                    option= book.title

                    button.btn.btn-primary Create transaction
                        